accelerate
basicsr
bpy
configargparse
cupy-cuda12x
deepspeed
diffusers
diso
einops
fastapi
gradio
huggingface-hub
imageio
jaxtyping
kornia
networkx
ninja
numpy
omegaconf
onnxruntime
open3d
opencv-python
pandas
peft
pillow
psutil
pybind11
pydantic
pygltflib
pymeshlab
pythreejs
pytorch-lightning
pyyaml
realesrgan
rembg
safetensors
scikit-image
scipy
tb-nightly
timm
torch
torch-cluster
torchdiffeq
torchmetrics
torchvision
tqdm
transformers
trimesh
typeguard
uvicorn
uvicorn[standard]
xatlas
